jwt:
  secret: 5e7ae888548f2aef0935d46dad396c76031e333eb024c83a849cbadae7bb4aba3a3273ac5b108262b9f2d973fd36d300d2347b9826e7359a2bbec1df2c7fb05145ef8e5a640107ee540539d5069339b583acffbe381f272ccddb1ea8e7c3d39dcd7fb4212209d55fb2be03a012ede1ad2dfa868be1b956bd81f01b1b424786f2
  access-token-expire-seconds: 86400

spring:
  security:
    user:
      name: user
      password: 1234

  h2:
    console:
      enabled: true
  datasource:
      driver-class-name: org.h2.Driver
      url: jdbc:h2:mem:odiga

  jpa:
      show-sql: true
      generate-ddl: true
      hibernate:
        ddl-auto: create-drop